# ========= Android / Gradle =========
.gradle/
build/
*/build/
.externalNativeBuild/
.cxx/

# ========= Local config =========
local.properties
.DS_Store

# ========= Kotlin =========
.kotlin/

# ========= IntelliJ / Android Studio =========
.idea/*
!.idea/codeStyles/
!.idea/inspectionProfiles/
.idea/

*.iml

# ========= Android Studio generated =========
captures/